@import "tailwindcss";

/* :root {
  --font-satoshi: var(--font-satoshi);
} */
/* Prevent horizontal scroll globally */
html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Ensure box sizing doesn’t cause overflow */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-satoshi), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
.hero-bg {
  background-image: url("/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sm-hero-bg {
  background-image: url("/hero.png");
  background-size: 430px 572px;
  background-position: center;
  background-repeat: no-repeat;
}

.speaker-bg {
  background-image: url("/speaker.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-bg {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/footer.png");
  background-size: cover;
  
  background-position: center;
  background-repeat: no-repeat;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
